<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stationmillenium.android"
    android:installLocation="auto"
    android:versionCode="29"
    android:versionName="1.4.2-beta" >

    <!-- permissions to access network and check network state -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:backupAgent=".utils.backup.AppBackupAgent"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- meta data for backup service -->
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIlSghV3IjqM6OSpPBeM7T6cgtLubwGfn6YE2khA" />

        <!-- main activity -->
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- player activity -->
        <activity
            android:name=".activities.PlayerActivity"
            android:label="@string/player_activity_title"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />

            <intent-filter>
                <action android:name="com.stationmillenium.android.intents.ON_PLAYER_PLAY" />
                <action android:name="com.stationmillenium.android.intents.ON_PLAYER_PAUSE" />
                <action android:name="com.stationmillenium.android.intents.ON_PLAYER_STOP" />
                <action android:name="com.stationmillenium.android.intents.ON_PLAYER_BUFFERING" />
                <action android:name="com.stationmillenium.android.intents.ON_PLAYER_OPEN" />
            </intent-filter>
        </activity>

        <!-- preferences activity -->
        <activity
            android:name=".activities.preferences.SharedPreferencesActivity"
            android:label="@string/preferences_activity_title"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- alarm preferences activity -->
        <activity
            android:name=".activities.preferences.AlarmSharedPreferencesActivity"
            android:label="@string/preferences_alarm_screen"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <!-- song history search activity -->
        <activity
            android:name="com.stationmillenium.android.activities.songsearchhistory.SongSearchHistoryActivity"
            android:label="@string/song_search_history"
            android:parentActivityName=".activities.MainActivity"
            android:launchMode="singleTop" >
            <intent-filter>
            	<action android:name="android.intent.action.SEARCH" />
        	</intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
            <meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable"/>
        </activity>
        
        <!-- song history search imgage display activity -->
        <activity
            android:name="com.stationmillenium.android.activities.songsearchhistory.SongSearchHistoryImageDisplayActivity"
            android:label="@string/song_search_history_image"
            android:parentActivityName=".activities.songsearchhistory.SongSearchHistoryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.songsearchhistory.SongSearchHistoryActivity" />
        </activity>
        
        <!-- player service -->
        <service
            android:name=".services.CurrentTitlePlayerService"
            android:exported="false" />
        <service
            android:name=".services.StatsTrackerService"
            android:exported="false" />
        <service
            android:name=".services.MediaPlayerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.stationmillenium.android.intents.PLAYER_PLAY" />
                <action android:name="com.stationmillenium.android.intents.PLAYER_PLAY_PAUSE" />
                <action android:name="com.stationmillenium.android.intents.PLAYER_PAUSE" />
                <action android:name="com.stationmillenium.android.intents.PLAYER_STOP" />
                <action android:name="com.stationmillenium.android.intents.PLAYER_OPEN" />
                <action android:name="com.stationmillenium.android.intents.PLAYER_ACTIVITY_RESUME" />
                <action android:name="com.stationmillenium.android.intents.PLAYER_ACTIVITY_PAUSE" />
            </intent-filter>
        </service>

        <!-- broadcast receiver for playback buttons -->
        <receiver android:name=".services.MediaPlayerService$PlaybackControlButtonsBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <!-- broadcast receiver for the widget part -->
        <receiver android:name=".widgets.WidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.stationmillenium.android.intents.ON_PLAYER_PLAY" />
                <action android:name="com.stationmillenium.android.intents.ON_PLAYER_PAUSE" />
                <action android:name="com.stationmillenium.android.intents.ON_PLAYER_STOP" />
                <action android:name="com.stationmillenium.android.intents.ON_PLAYER_BUFFERING" />
                <action android:name="com.stationmillenium.android.intents.CURRENT_TITLE_UPDATED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>

        <!-- alarm service -->
        <service
            android:name=".services.AlarmService"
            android:exported="false" />

        <!-- alarm service boot completed initialization broadcast receiver -->
        <receiver android:name=".services.AlarmBootCompletedBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <!-- song history content provider -->
		<provider
            android:name=".contentproviders.SongHistoryContentProvider"
            android:authorities="com.stationmillenium.android.contentproviders.SongHistoryContentProvider"
            android:exported="false"
            android:label="@string/app_name" >
        </provider>
        
    </application>

</manifest>